<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--预设柴油价格生效任务-->
    <bean id="dieselValidJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.gangyunshihua.quartz.DieselValidJob"/>
    </bean>
    <bean id="dieselValidTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="dieselValidJob">
        </property>
        <property name="cronExpression">
            <value>2 * * * * ?</value>
        </property>
    </bean>

    <!--柴油价格记录任务-->
    <bean id="dieselLogJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.gangyunshihua.quartz.DieselLogJob"/>
    </bean>
    <bean id="dieselLogTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="dieselLogJob">
        </property>
        <property name="cronExpression">
            <value>30 59 23 * * ?</value>
        </property>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobFactory" ref="jobFactory"/>
        <property name="triggers">
            <list>
                <ref bean="dieselValidTrigger"/>
                <ref bean="dieselLogTrigger"/>
            </list>
        </property>
    </bean>
</beans>